<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <!-- Clear any default mapping first to avoid duplicate MIME mapping crashes -->
      <remove fileExtension=".glb" />
      <mimeMap fileExtension=".glb" mimeType="model/gltf-binary" />
    </staticContent>
  </system.webServer>
</configuration>
